<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="EducationAllEntities" connectionString="metadata=res://*/Datas.EducationAll.csdl|res://*/Datas.EducationAll.ssdl|res://*/Datas.EducationAll.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=b2ch0nz980.database.windows.net;initial catalog=EducationAll;persist security info=True;user id=educationall;password=SharpentierDu59;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>