<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="idRankStudent" value="1"/>
    <add key="idRankTeacher" value="2"/>
    <add key="idRankAdmin" value="10"/>
  </appSettings>
  <connectionStrings>
  <add name="EducationAllEntities" connectionString="metadata=res://*/Datas.EducationAll.csdl|res://*/Datas.EducationAll.ssdl|res://*/Datas.EducationAll.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DB_HOST_TO_EDIT;initial catalog=DB_NAME_DB_TO_EDIT;persist security info=True;user id=DB_USER_TO_EDIT;password=DB_PASS_TO_EDIT;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>